<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page person</title>
</head>
<body>

<p th:text="${infoAboutPerson.getFullName() + ', ' + infoAboutPerson.getYearOfBirth()}"></p>

<form th:method="PATCH" th:action="@{'/people/'+${infoAboutPerson.getPersonId()}+'/assign'}">
    <label>
        <select name="bookId">
            <option th:each="book : ${books}"
                    th:value="${book.getBookId()}"
                    th:text="${book.getTitle()}"></option>
        </select>
    </label>
    <input type="submit" value="Assign">
</form>

<br>

<div th:if="${reservedBooks.isEmpty() && borrowedBooks.isEmpty()}">
    <p th:text="${'This person has no books'}"></p>

</div>

<div th:if="${!reservedBooks.isEmpty() && borrowedBooks.isEmpty()}">
    <b th:text="${'Reserved books:'}"></b>
    <div th:each="book : ${reservedBooks}">
        <a th:href="@{'/books/admin/' + ${book.getBookId()}}">
        <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>

<div th:if="${reservedBooks.isEmpty() && !borrowedBooks.isEmpty()}">
    <b th:text="${'Borrowed books:'}"></b>
    <div th:each="book : ${borrowedBooks}">
        <a th:href="@{'/books/admin/' + ${book.getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>

<div th:if="${!reservedBooks.isEmpty() && !borrowedBooks.isEmpty()}">
    <b th:text="${'Reserved books:'}"></b>
    <div th:each="book : ${reservedBooks}">
        <a th:href="@{'/books/admin/' + ${book.getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>

    <b th:text="${'Borrowed books:'}"></b>
    <div th:each="book : ${borrowedBooks}">
        <a th:href="@{'/books/admin/' + ${book.getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>
<br>

<hr>

<!--<form th:method="GET" th:action="@{/people/{id}/edit(id=${infoAboutPerson.getPersonId()})}">
    <input type="submit" value="Edit">
</form>-->

<!--<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>-->
<br>

<form th:method="DELETE" th:action="@{/people/{id}(id=${infoAboutPerson.getPersonId()})}">
    <input type="submit" value="Block">
</form>

</body>
</html>