<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page person</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select[name="bookId"]').select2();
        });
    </script>
</head>
<body>

<!-- Отображение информации о человеке -->
<p th:text="${infoAboutPerson.getFullName() + ', ' + infoAboutPerson.getYearOfBirth()}"></p>

<!-- Форма для назначения книги -->
    <form th:method="PATCH" th:action="@{'/people/'+${infoAboutPerson.getPersonId()}+'/assign'}">

        <label>
            <select name="bookId">
                <option th:each="book : ${books}" th:value="${book.getBookId()}" th:text="${book.getTitle()}"></option>
            </select>
        </label>

        <input th:if="${countOfBooksTakenByPerson >= 5}" type="submit" value="Assign" disabled="disabled">
        <span th:if="${countOfBooksTakenByPerson >= 5}" style="color: grey">The user cannot read more than 5 books</span>

        <input th:if="${!reservedBooks.isEmpty()}" type="submit" value="Assign" disabled="disabled">
        <span th:if="${!reservedBooks.isEmpty()}" style="color: grey">All reserved books must be assigned</span>

        <input th:if="${reservedBooks.isEmpty() && countOfBooksTakenByPerson < 5}" type="submit" value="Assign">
    </form>

<br>

<!-- Секция отображения книг -->
<div th:if="${reservedBooks.isEmpty() && borrowedBooks.isEmpty()}">
    <p th:text="${'This person has no books'}"></p>
</div>

<div th:unless="${reservedBooks.isEmpty()}">
    <form th:method="PATCH" th:action="@{'/people/'+${infoAboutPerson.getPersonId()}+'/assignAllReserved'}">
        <input type="submit" value="Assign all reserved">
    </form>
</div>
<br>
<!-- Секция зарезервированных книг -->
<div th:if="${!reservedBooks.isEmpty()}">
    <b th:text="${'Reserved books:'}"></b>
    <div th:each="book : ${reservedBooks}">
        <a th:href="@{'/books/admin/pageBookForPerson/' + ${infoAboutPerson.getPersonId()} + '/' + ${book.getBook().getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>

<br>

<!-- Секция взятых в аренду книг -->
<div th:if="${!borrowedBooks.isEmpty()}">
    <b th:text="${'Borrowed books:'}"></b>
    <div th:each="book : ${borrowedBooks}">
        <a th:href="@{'/books/admin/pageBookForPerson/' + ${infoAboutPerson.getPersonId()} + '/' + ${book.getBook().getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>

<br>

<form th:method="GET" th:action="@{'/people/admin/return/' + ${infoAboutPerson.getPersonId()}}">
    <input type="submit" value="Return books">
</form>

<br>

<form th:method="DELETE" th:action="@{/people/{id}(id=${infoAboutPerson.getPersonId()})}">
    <input type="submit" value="Block">
</form>

</body>
</html>
