<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${editBook.getBookId()})}" th:object="${editBook}">
  <label for="title">Enter title: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br/>
  <label for="writer">Enter writer: </label>
  <input type="text" th:field="*{writer}" id="writer"/>
  <div style="color:red" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}"></div>
  <br/>
  <label for="yearOfPublishing">Enter year of publishing: </label>
  <input type="text" th:field="*{yearOfPublishing}" id="yearOfPublishing"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}"></div>
  <br/>
  <input type="submit" value="Update"/>
</form>

</body>
</html>