<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of books</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search}">
    <label>
        <input type="text" name="query" placeholder="Enter text to search: ">
    </label>
    <button type="submit">Search</button>
</form>
<br>
<div th:if="${books.isEmpty()}">
    <p th:text="${'No books found'}"></p>
</div>

<div th:unless="${books.isEmpty()}">
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getBookId()}) }"
           th:text="${book.getTitle() + ', ' + book.getWriter + ', ' + book.getYearOfPublishing()}"></a>
    </div>
</div>
<br>
<hr>
<a href="/books/new">Create book</a>
</body>
</html>