<!DOCTYPE html>
<html lang="en"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>List of books</title>
    <style>
        .button-spacing {
            margin-right: 30px;
        }
    </style>
</head>
<body>
<form th:method="GET" th:action="@{/books/search}">
    <label>
        <input type="text" name="query" placeholder="Enter text to search: ">
    </label>
    <button type="submit" class="button-spacing">Search</button>
<!--    <div sec:authorize="hasRole('ADMIN')">
    <a href="/books/new" class="button-spacing">Create book</a>
</div>-->
</form>
<br>
<div th:if="${books.isEmpty()}">
    <p th:text="${'No books found'}"></p>
</div>
<div th:unless="${books.isEmpty()}">
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getBookId()}) }"
           th:text="${book.getTitle() + ', ' + book.getWriter + ', ' + book.getYearOfPublishing()}"></a>
    </div>
</div>
<br>
<form th:method="GET" th:action="@{/people/{id}(id=${personId})}">
    <input type="submit" value="Profile">
</form>
</body>
</html>
