<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${editPerson.getPersonId()})}" th:object="${editPerson}">
  <label for="userName">Enter username: </label>
  <input type="text" th:field="*{userName}" id="userName"/>
  <div style="color:gray" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
  <br/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color:gray" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br/>
  <label for="fullName">Enter full name: </label>
  <input type="text" th:field="*{fullName}" id="fullName"/>
  <div style="color:gray" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
  <br/>
  <label for="email">Enter email: </label>
  <input type="email" th:field="*{email}" id="email"/>
  <div style="color:gray" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  <br/>
  <label for="phoneNumber">Enter phone number: </label>
  <input type="tel" th:field="*{phoneNumber}" id="phoneNumber"/>
  <div style="color:gray" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
  <br/>
  <input type="submit" value="Update"/>
</form>

</body>
</html>