<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return borrowed books</title>
</head>
<body>

<form th:method="POST" th:action="@{'/people/return/' + ${person.getPersonId()}}">
    <p th:text="${'Borrowed books:'}"></p>

    <div th:each="journalEntry : ${borrowedBooks}">
        <label>
            <input type="checkbox" th:value="${journalEntry.getBook().getBookId()}" name="returnedBooksId"/>
            <span th:text="${journalEntry.getBook().getTitle()}"></span>
        </label>
        <br/>
    </div>
<br>
    <button type="submit">return</button>
</form>

</body>
</html>