<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page person</title>
</head>
<body>

<p th:text="${'User name: ' + infoAboutPerson.getUserName()}"></p>
<p th:text="${'Full name: ' + infoAboutPerson.getFullName()}"></p>
<p th:text="${'Email: ' + infoAboutPerson.getEmail()}"></p>
<p th:text="${'Phone number: ' + infoAboutPerson.getPhoneNumber()}"></p>

<br>

<div th:if="${reservedBooks.isEmpty() && borrowedBooks.isEmpty()}">
    <p th:text="${'You did not take a single book'}"></p>

</div>

<div th:if="${!reservedBooks.isEmpty()}">
    <b th:text="${'Reserved books:'}"></b>
    <div th:each="book : ${reservedBooks}">
        <a th:href="@{'/books/user/' + ${book.getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>

<div th:if="${!borrowedBooks.isEmpty()}">
    <b th:text="${'Borrowed books:'}"></b>
    <div th:each="book : ${borrowedBooks}">
        <a th:href="@{'/books/user/' + ${book.getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"
               th:style="${currentDate.compareTo(book.getDateEnd()) > 0 ? 'color: red;' : ''}"></p>
        </a>
    </div>
</div>

<br>

<!--<div th:if="${!expiredBooks.isEmpty()}">
    <b th:text="${'Expired books:'}"></b>
    <div th:each="book : ${expiredBooks}">
        <a th:href="@{'/books/user/' + ${book.getBookId()}}">
            <p th:text="${book.getBook().getTitle() + ', ' + book.getBook().getWriter() + ', ' + book.getBook().getYearOfPublishing()}"></p>
        </a>
    </div>
</div>-->

<hr>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${infoAboutPerson.getPersonId()})}">
    <input type="submit" value="Edit">
</form>

<br>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

<br>

<form th:method="DELETE" th:action="@{'/people/' + ${infoAboutPerson.getPersonId()}}">
    <input type="submit" value="Delete account" th:disabled="${!borrowedBooks.isEmpty() || !reservedBooks.isEmpty()}">
</form>
<th:block th:if="${!borrowedBooks.isEmpty() || !reservedBooks.isEmpty()}">
    <p style="color: grey;">To delete your account, you must return all books </p>
</th:block>

</body>
</html>